.cat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background-color: #f2f2f2;
  text-align: center;
}

.cat-container h1 {
  margin-bottom: 20px;
  color: #333;
  font-family: "Poppins", sans-serif;
}

.cat-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.cat-image:hover {
  transform: scale(1.05);
}

.change-btn {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.change-btn:hover {
  background-color: #45a049;
}
